<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="App to try out REST APIs" />
    <title>Country REST</title>

    <link rel="stylesheet" href="/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div>
      <h1>Country Search</h1>
    </div>

    <main>
      <form id="country-form">
        <label>
          <input
            name="country"
            type="search"
            maxlength="100"
            required
            placeholder="Country name (can be partial) or country code"
          />
        </label>
        <button type="submit" id="submit-country">Search</button>
      </form>

      <section class="countries">
        <ul id="countries">
          <em>loading dreams&hellip;</em>
        </ul>
      </section>
    </main>

    <footer>Stats here</footer>
  </body>
  <script>
    $("#country-form").submit(e => {
      e.preventDefault();

      // Get input field values
      let searchQuery = `search=${countrySearchForm.elements.country.value}`

      $.get(
        "https://special-colossal-muscari.glitch.me/searchcountries",
        searchQuery,
        function(data) {
          console.log("data:", data);
        }
      )
    })
  </script>
</html>
